#colorful_wrap {
	width: 100%;
	margin: 10px auto;
	display: block;
	overflow: hidden;

	@include respond-to(medium) {
		width: 680px;
		@include clearfix;
		margin: 0 auto;
	}

	@include respond-to(large) {
		width: 700px;
		float: left;
	}

	.color_info_box {
		width: 94%;
		background: rgba(255,255,255,0.5);
		margin: 10px 3%;
		display: block;

		@include respond-to(small) {
			width: 330px;
			height: 330px;
			margin: 10px auto;
		}

		@include respond-to(medium) {
			float: left;
			margin: 20px 0 0;
		}

		h2 {
			font-family: $font-one;
			@include font-size(1.2);
			text-transform: uppercase;
			color: #333;
			text-align: center;
			margin: 0;
			padding: 20px 0 10px 0;
			display: block;
		} // h2

		.colorful_title {
			@include font-size(1.2);
			color: $accent;
			text-shadow: 2px 2px 2px #333;
			text-align: center;
		} // colorful_title

		h4 {
			font-family: $font-three;
			@include font-size(0.6);
			text-align: center;
			display: block;
			color: #333;
			margin: 10px 0 20px;
		}

		p {
			font-family: $font-two;
			width: 85%;
			@include font-size(1);
			line-height: 20px;
			margin: 0 auto;
			text-align: center;
		} // p

		.color_accent {
			@include font-size(3);
			text-align: center;
			padding: 20px 0;
		} // color_accent
	} // color_info_box

	#instafeed {
		width: 100%;
		display: block;
		margin: 10px auto;

		@include respond-to(small) {
			width: 333px;
			height: 333px;
		}

		@include respond-to(medium) {
			width: 333px;
			height: 333px;
			float: left;
			margin: 20px 0 0 17px;
		}

		.insta_link_img {
			width: 94%;
			margin: 0 3%;
			height: 0;
			padding-bottom: 94%;
			display: block;
			box-shadow: 2px 2px 2px #333;
			background: $accent;
			position: relative;

			@include respond-to(small) {
				width: 330px;
				height: 330px;
				padding-bottom: 0;
				margin: 0;
			}

			@include respond-to(medium) {
				float: left;
			}

			&:hover, &:focus {

				p {
					@include opacity(1);
				} // p

				img {
					@include opacity(0.5);
				} // img
			}

			p {
				position: absolute;
				top: 42%;
				left: 14%;
				@include font-size(3);
				color: #fff;
				margin: 0 auto;
				display: block;
				@include opacity(0);

				.insta_link_text_under {
					display: block;
					@include font-size(1.4);
					text-align: center;
					margin: 15px 0;
				} // insta_link_text_under
			} // p

			img {
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
				@include transition (opacity 0.5s ease-in-out);

				@include respond-to(small) {
					width: 330px;
					height: 330px;
				}
			} // img
		} // a
	} // instafeed

	.color_tweet_box {
		width: 100%;
		margin: 0px auto;
		display: block;

		@include respond-to(medium) {
			width: 680px;
			margin: 0 auto;
			float: left;
		}

		a.tweet_box {
			width: 94%;
			margin: 10px auto;
			display: block;
			background: rgba(255,255,255,0.5);
			color: #333;
			overflow: hidden;
			position: relative;
			@include transition (all 1.0s ease-in-out);

			@include respond-to(small) {
				width: 330px;
				padding: 7px 0;
			}

			@include respond-to(medium) {
				width: 680px;
				margin: 10px auto 0;
				float: left;
			}

			&:hover, &:focus {
				background: $twitter;
				@include opacity(0.6);

				.insta_caption {
					@include opacity(0);
				}

				.tweet_follow {
					@include opacity(1);
				}

			}

			.insta_caption {
				width: 90%;
				margin: 0;
				font-family: $font-two;
				@include font-size(1);
				padding:  5px 5%;
				color: #333;
				line-height: 21px;
				@include transition (all 1.0s ease-in-out);


				@include respond-to(small) {
					width: 300px;
					padding: 5px 4%;
				}

				@include respond-to(medium) {
					width: 650px;
				}
			} // insta caption

			.blue_twitter {
				padding: 10px 10px 0 15px;
				@include font-size(2);
				color: $twitter;
				float: left;
				@include opacity(0.7);
			}

			.tweet_follow {
				position: absolute;
				top: 32%;
				left: 29%;
				@include font-size(1.6);
				color: #fff;
				@include opacity(0);
				@include transition (all 1.0s ease-in-out);
				letter-spacing: 0.03em;

				@include respond-to(small) {
				top: 35%;
				left: 25%;
				} // small

				@include respond-to(medium) {
				top: 30%;
				left: 38%;
				} // small
			} // tweet follow
		} // tweet_box
	}// color_tweet_box
} // colorful_wrap