#colorful_wrap {
	width: 100%;
	margin: 10px auto;
	display: block;
	overflow: hidden;

	.color_info_box {
		width: 310px;
		height: 310px;
		background: rgba(255,255,255,0.5);
		margin: 10px auto;
		display: block;

		h2 {
			font-family: $font-one;
			@include font-size(1.2);
			text-transform: uppercase;
			color: #333;
			text-align: center;
			margin: 0;
			padding: 20px 0 10px 0;
			display: block;
		} // h2

		.colorful_title {
			@include font-size(1.4);
			color: $accent;
			text-shadow: 2px 2px 2px #333;
			text-align: center;
		} // colorful_title

		h4 {
			font-family: $font-three;
			@include font-size(0.6);
			text-align: center;
			display: block;
			color: #333;
			margin: 10px 0 20px;
		}

		p {
			font-family: $font-two;
			width: 90%;
			@include font-size(1);
			line-height: 19px;
			margin: 0 auto;
			text-indent: 25px;
		} // p

		.color_accent {
			@include font-size(3.5);
			text-align: center;
			padding: 20px 0 0;
		} // color_accent
	} // color_info_box

	#instafeed {
		width: 100%;
		display: block;
		overflow: hidden;
		margin: 10px auto;

		.insta_link_img {
			max-width: 310px;
			max-height: 310px;
			margin: 0 auto;
			display: block;
			overflow: hidden;
			box-shadow: 1px 1px 1px 1px #333;
			@include transition (all 1.0s ease-in-out);
			background: $accent;

			&:hover, &:focus {

				p {
					@include opacity(1);
				} // p

				img {
					@include opacity(0.5);
				} // img

			}

			p {
				position: relative;
				top: -200px;
				@include font-size(4);
				color: #fff;
				margin: 0 auto;
				display: block;
				text-align: center;
				@include opacity(0);
				@include transition (all 1.0s ease-in-out);

				.insta_link_text_under {
					display: block;
					@include font-size(1.4);
					text-align: center;
					margin: 30px 0;
				} // insta_link_text_under
			} // p

			img {
				width: 100%;
				@include transition (all 1.0s ease-in-out);
			} // img
		} // a
	} // instafeed

	.color_tweet_box {
		width: 310px;
		margin: 0px auto;
		display: block;
		background: rgba(255,255,255,0.5);

		a.tweet_box {
			width: 310px;
			margin: 10px auto;
			display: block;
			overflow: hidden;
			background: rgba(255,255,255,0.5);
			color: #333;
			@include transition (all 1.0s ease-in-out);

			&:hover, &:focus {
				background: $accent;
				@include opacity(0.6);

				.insta_caption {
					@include opacity(0);
				}

				.tweet_follow {
					@include opacity(1);
				}

			}

			.tweet_icons {
				width: 40px;
				@include clearfix;
				display: inline-block;
				float: left;
				@include transition (all 1.0s ease-in-out);

				span {
					@include font-size(1.8);
					margin: 5px;
					float: left;
					display: block;
					color: $accent;
					@include opacity(0.8);

					.icon-twitter {
						margin: 5px 5px 0 5px;
					} // icon-twitter
				} // span
			} // tweet_icons

			.insta_caption {
				width: 250px;
				float: right;
				margin: 0;
				@include font-size(1.2);
				padding:  5px 10px;
				color: #333;
				letter-spacing: 0.04em;
				line-height: 22px;
				@include transition (all 1.0s ease-in-out);
			}

			.tweet_follow {
				position: relative;
				top: -50px;
				left: 55px;
				@include font-size(1.6);
				height: 20px;
				color: #fff;
				@include opacity(0);
				@include transition (all 1.0s ease-in-out);
				letter-spacing: 0.03em;
			}
		} // tweet_box
	}// color_tweet_box
} // colorful_wrap








