#small_hero {
	width: 100%;
	display: block;
	overflow: hidden;
	background: url(gfx/paper_back.jpg) repeat;
	box-shadow: 0 4px 4px 0 #444;
	position: relative;
	z-index: 999;

	.small_hero_wrapper {
		@include clearfix;
		width: 100%;
		margin: 0 auto;
	}

	a {
		display: block;
		text-decoration: none;
		margin: 5px auto;
		overflow: hidden;
		color: #222;
		width: 280px;

		@include respond-to(small) {
			width: 380px;
		}

		@include respond-to(small-medium) {
			width: 530px;
		}

		@include respond-to(medium) {
			width: 670px;
		}

		@include respond-to(medium-large) {
			width: 840px;
		}

		@include respond-to(large) {
			width: 1000px;
		}

		img {
			display: inline-block;
			float: left;
			height: 35px;
			margin: 6px 0 0;
		}

		.sm_accent {
			height: 3px;
			width: 85px;
			background: black;
			margin: 22px 3px 0;
			float: left;

			@include respond-to(small) {
				width: 131px;
			}

			@include respond-to(small-medium) {
				width: 116px;
			}

			@include respond-to(medium) {
				width: 186px;
			}

			@include respond-to(medium-large) {
				width: 271px;
			}

			@include respond-to(large) {
				width: 351px;
			}

		}

		h1 {
			font-family: $font-one;
			@include font-size(2);
			float: left;
			letter-spacing: 0.05em;

			@include respond-to(small) {
				@include font-size(2.4);
			}
		}
	}
}

.hide_title {
	display: none;

	@include respond-to(small-medium) {
		display: inline;
	}
}